Repository esowc/ml_drought, pull requests merged in 2019-08, with the labels that each got.

#82 Preprocessor and engineer for static variables
  scripts/engineer.py
  scripts/export.py
  scripts/models.py
  scripts/preprocess.py
  src/engineer/__init__.py
  src/engineer/base.py
  src/exporters/cds.py
  src/exporters/esa_cci.py
  src/exporters/srtm.py
  src/models/base.py
  src/models/data.py
  src/models/neural_networks/base.py
  src/models/neural_networks/ealstm.py
  src/models/neural_networks/linear_network.py
  src/models/neural_networks/rnn.py
  src/models/regression.py
  src/preprocess/__init__.py
  src/preprocess/base.py
  src/preprocess/esa_cci.py
  src/preprocess/srtm.py
  tests/engineer/test_base.py
  tests/engineer/test_nowcast.py
  tests/engineer/test_one_month_forecast.py
  tests/exporters/test_cds.py
  tests/exporters/test_s5.py
  tests/models/neural_networks/test_ealstm.py
  tests/models/neural_networks/test_linear_network.py
  tests/models/neural_networks/test_rnn.py
  tests/models/test_data.py
  tests/models/test_regression.py
  tests/preprocess/test_esa_cci.py
  tests/preprocess/test_srtm.py
Labels: feature engineering, preprocess

#85 Remove standard deviation info
  src/models/data.py
  tests/models/neural_networks/test_linear_network.py
  tests/models/neural_networks/test_rnn.py
  tests/models/test_data.py
  tests/models/test_regression.py
Labels: modelling

#84 Docs/notebooks
  notebooks/docs/00_pipeline.ipynb
  notebooks/docs/01_Exporters.ipynb
  notebooks/docs/02_Preprocessors.ipynb
  notebooks/docs/03_Engineer.ipynb
  notebooks/docs/04_Models.ipynb
  notebooks/docs/05_Analysis.ipynb
  notebooks/docs/img/chunker_diagram.png
  notebooks/docs/img/data_dir_diagram.png
  notebooks/docs/img/dataloader_diagram.png
  notebooks/docs/img/ea_rnn_diagram.png
  notebooks/docs/img/engineer_diagram.png
  notebooks/docs/img/exporter_diagram.png
  notebooks/docs/img/linear_nn_diagram.png
  notebooks/docs/img/persistence_diagram.png
  notebooks/docs/img/pipeline_structure.pdf
  notebooks/docs/img/pipeline_structure.png
  notebooks/docs/img/preprocess_diagram.png
  notebooks/docs/img/regression_diagram.png
  notebooks/docs/img/rnn_diagram.png
  notebooks/docs/img/train_nn_diagram.png
  src/analysis/event_detector.py
Labels: documentation, wip

#83 Clean up and document scripts
  README.md
  scripts/README.md
  scripts/drafts/eng_utils.py
  scripts/drafts/event_detect.py
  scripts/drafts/mask_using_shapefile.py
  scripts/drafts/plotting_utils.py
  scripts/engineer.py
  scripts/export.py
  scripts/export_s5.py
  scripts/models.py
  scripts/preprocess.py
Labels: documentation

#89 EALSTM composed of linear layers
  src/models/neural_networks/ealstm.py
  tests/models/neural_networks/test_ealstm.py
Labels: model validation, modelling

#101 [minor] Add pred months to the static data in the EALSMT
  src/models/neural_networks/ealstm.py
Labels: modelling

#88 Calculate normalization values uniformly across time
  src/engineer/base.py
  src/models/data.py
  tests/engineer/test_nowcast.py
  tests/engineer/test_one_month_forecast.py
  tests/models/neural_networks/test_ealstm.py
  tests/models/neural_networks/test_linear_network.py
  tests/models/neural_networks/test_rnn.py
  tests/models/test_data.py
  tests/models/test_regression.py
Labels: feature engineering, modelling

#104 Update all the shap code (and other analysis)
  notebooks/draft/15_gt_ealstm.ipynb
  scripts/models.py
  src/analysis/__init__.py
  src/analysis/evaluation.py
  src/models/__init__.py
  src/models/data.py
  src/models/neural_networks/base.py
  src/models/neural_networks/ealstm.py
  src/models/neural_networks/linear_network.py
  src/models/neural_networks/rnn.py
  src/models/regression.py
  src/preprocess/esa_cci.py
  tests/models/__init__.py
  tests/models/neural_networks/test_ealstm.py
  tests/models/neural_networks/test_linear_network.py
  tests/models/neural_networks/test_rnn.py
  tests/models/test_regression.py
  tests/preprocess/test_esa_cci.py
Labels: model validation

#111 Update VHI preprocessor to handle other variables as well
  scripts/preprocess.py
  src/preprocess/base.py
  src/preprocess/vhi.py
  tests/preprocess/test_chirps.py
  tests/preprocess/test_era5.py
  tests/preprocess/test_gleam.py
  tests/preprocess/test_planetOS.py
  tests/preprocess/test_vhi.py
Labels: preprocess

#105 Analysis/admin region
  scripts/analysis.py
  scripts/preprocess.py
  src/analysis/__init__.py
  src/analysis/region_analysis/__init__.py
  src/analysis/region_analysis/administrative_region_analysis.py
  src/analysis/region_analysis/base.py
  src/analysis/region_analysis/landcover_region_analysis.py
  src/analysis/region_analysis/region_geo_plotter.py
  src/models/base.py
  src/models/data.py
  src/models/regression.py
  tests/analysis/region_analysis/__init__.py
  tests/analysis/region_analysis/test_administrative_region_analysis.py
  tests/analysis/region_analysis/test_base.py
  tests/analysis/region_analysis/test_landcover_region_analysis.py
  tests/analysis/region_analysis/test_region_geo_plotter.py
  tests/models/test_regression.py
Labels: model validation

#109 Improved plotting of shap
  notebooks/draft/15_gt_ealstm.ipynb
  src/analysis/plot_shap.py
Labels: model validation

#112 create MovingAverage & VegetationDeficitIndex
  src/analysis/__init__.py
  src/analysis/indices/__init__.py
  src/analysis/indices/base.py
  src/analysis/indices/moving_average.py
  src/analysis/indices/utils.py
  src/analysis/indices/vegetation_deficit_index.py
  src/analysis/indices/z_score.py
  tests/analysis/indices/test_moving_average.py
  tests/analysis/indices/test_vegetation_deficit_index.py
Labels: model validation

#115 Update annual_scores to allow multiple metrics to be calculated
  src/analysis/__init__.py
  src/analysis/evaluation.py
Labels: analysis

#116 Allow neural nets to train on GPUs
  scripts/models.py
  src/analysis/event_detector.py
  src/analysis/indices/spi.py
  src/exporters/gleam.py
  src/exporters/planetOS.py
  src/exporters/vhi.py
  src/models/__init__.py
  src/models/data.py
  src/models/neural_networks/base.py
  src/models/neural_networks/ealstm.py
  src/models/neural_networks/linear_network.py
  src/models/neural_networks/rnn.py
  src/preprocess/base.py
  tests/models/neural_networks/test_ealstm.py
  tests/models/neural_networks/test_linear_network.py
  tests/models/neural_networks/test_rnn.py
  tests/models/test_data.py
Labels: modelling, wip

#118 Allow static era5 variables to be processed too
  src/engineer/base.py
  src/preprocess/era5.py
Labels: feature engineering, preprocess

#117 Calculate shap values for an entire month
  scripts/models.py
  src/analysis/__init__.py
  src/analysis/plot_shap.py
  src/models/neural_networks/base.py
Labels: analysis, model validation
