Repository esowc/ml_drought, pull requests merged in 2019-05, with the labels that each got.

#9 WIP: Add CDS exporter
  .gitignore
  .travis.yml
  notebooks/draft/01_tl_initial_test.ipynb
  scripts/export_precip.py
  src/exporters/__init__.py
  src/exporters/base.py
  src/exporters/cds.py
  tests/exporters/__init__.py
  tests/exporters/test_base.py
  tests/exporters/test_cds.py
Labels: export, wip

#13 Add entrypoint to the pipeline, and default arguments
  Dockerfile
  pipeline_config/default.json
  run.py
  src/__init__.py
  src/run.py
  tests/test_run.py
Labels: pipeline entrypoint, wip

#12 WIP: VHI export
  .gitignore
  README.md
  environment.mac.yml
  environment.ubuntu.cpu.yml
  notebooks/draft/01_tl_initial_test.ipynb
  notebooks/draft/02_tl_test_CDSExporter2.ipynb
  notebooks/draft/03_tl_experiment_VHIExporter.ipynb
  pipeline_config/default.json
  src/exporters/__init__.py
  src/exporters/vhi.py
  src/run.py
  tests/exporters/test_vhi.py
Labels: export, wip

#14 Vhi preprocess #preprocess
  .gitignore
  notebooks/draft/04_tl_datasets_wanted.ipynb
  pipeline_config/minimal.json
  pipeline_config/vhi.json
  scripts/export_precip.py
  src/exporters/base.py
  src/exporters/cds.py
  src/exporters/vhi.py
  src/preprocess/__init__.py
  src/preprocess/base.py
  src/preprocess/utils.py
  src/preprocess/vhi.py
  src/run.py
  src/utils.py
  tests/exporters/test_cds.py
  tests/exporters/test_vhi.py
  tests/preprocess/__init__.py
  tests/preprocess/test_vhi.py
  tests/test_run.py
Labels: preprocess

#19 Exporters: Planet OS
  .gitignore
  .travis.yml
  environment.mac.yml
  environment.ubuntu.cpu.yml
  pipeline_config/minimal.json
  src/exporters/__init__.py
  src/exporters/planetOS.py
  src/run.py
  tests/exporters/test_planetOS.py
Labels: export

#16 Chirps Export Functionality
  .travis.yml
  environment.mac.yml
  environment.ubuntu.cpu.yml
  src/exporters/__init__.py
  src/exporters/chirps.py
  src/exporters/vhi.py
  tests/exporters/test_chirps.py
Labels: export

#23 CHIRPS Exporter: Allow download periods to be defined
  src/exporters/chirps.py
  tests/exporters/test_chirps.py
Labels: export

#21 WIP: Preprocessing
  environment.mac.yml
  environment.ubuntu.cpu.yml
  pipeline_config/vhi_tommy.json
  scripts/export_precip.py
  scripts/plotting_utils.py
  scripts/preprocess.py
  src/exporters/chirps.py
  src/exporters/vhi.py
  src/preprocess/__init__.py
  src/preprocess/base.py
  src/preprocess/chirps.py
  src/preprocess/utils.py
  src/preprocess/vhi.py
  tests/exporters/test_vhi.py
  tests/preprocess/test_base.py
  tests/preprocess/test_chirps.py
  tests/preprocess/test_utils.py
  tests/preprocess/test_vhi.py
Labels: preprocess, wip
