Repository esowc/ml_drought, pull requests merged in 2019-06, with the labels that each got.

#29 Generalize preprocessers
  src/preprocess/base.py
  src/preprocess/chirps.py
  src/preprocess/vhi.py
  tests/preprocess/test_base.py
  tests/preprocess/test_chirps.py
  tests/preprocess/test_vhi.py
Labels: preprocess

#32 Linear regression baseline
  scripts/engineer.py
  scripts/models.py
  src/engineer/engineer.py
  src/models/__init__.py
  src/models/base.py
  src/models/regression.py
  tests/engineer/test_engineer.py
  tests/models/test_regression.py
Labels: modelling

#27 Exporters/seas5
  .gitignore
  notebooks/draft/02_tl_test_CDSExporter2.ipynb
  notebooks/draft/06_tl_s5_download.ipynb
  scripts/export_s5.py
  src/exporters/__init__.py
  src/exporters/base.py
  src/exporters/cds.py
  src/exporters/seas5/__init__.py
  src/exporters/seas5/all_valid_s5.py
  src/exporters/seas5/s5.py
  src/preprocess/chirps.py
  tests/exporters/test_cds.py
  tests/exporters/test_s5.py
Labels: export

#36 Normalize x values when training models
  src/models/base.py
  src/models/parsimonious.py
  tests/models/test_base.py
Labels: modelling

#35 GLEAM exporter
  environment.mac.yml
  environment.ubuntu.cpu.yml
  scripts/export.py
  src/exporters/__init__.py
  src/exporters/gleam.py
  tests/exporters/test_gleam.py
Labels: export

#37 GLEAM Preprocessor
  scripts/preprocess.py
  src/engineer/engineer.py
  src/preprocess/__init__.py
  src/preprocess/gleam.py
  tests/preprocess/test_gleam.py
Labels: preprocess

#39 Dataloader
  src/engineer/engineer.py
  src/models/base.py
  src/models/data.py
  src/models/parsimonious.py
  src/models/regression.py
  tests/engineer/test_engineer.py
  tests/models/test_base.py
  tests/models/test_data.py
  tests/models/test_parsimonious.py
  tests/models/test_regression.py
  tests/utils.py
Labels: feature engineering, modelling

#42 Add option to export vhi files serially
  src/exporters/vhi.py
Labels: export

#40 Preprocess/subsets
  pipeline_config/minimal.json
  src/preprocess/base.py
  src/preprocess/chirps.py
  src/preprocess/gleam.py
  src/preprocess/planetOS.py
  src/preprocess/vhi.py
  src/utils.py
  tests/preprocess/test_base.py
  tests/preprocess/test_chirps.py
  tests/preprocess/test_gleam.py
  tests/preprocess/test_planetOS.py
  tests/preprocess/test_vhi.py
Labels: preprocess

#45 Linear neural network
  environment.mac.yml
  environment.ubuntu.cpu.yml
  scripts/models.py
  src/models/__init__.py
  src/models/base.py
  src/models/data.py
  src/models/linear_network.py
  src/models/regression.py
  src/models/utils.py
  tests/models/test_data.py
  tests/models/test_linear_network.py
  tests/models/test_utils.py
Labels: modelling
